<!DOCTYPE html>
<html>
{{partial "head.html" .}}
<body>
<div class="wrapper">
<nav>
  	<div class="pull-left">
    	<h1><a href="javascript:"><img src="img/icon.png" alt="Free Documentation Template Icon" /> <span>DocWeb</span></a></h1>
    </div>
    <div class="pull-right">
    	<a href="http://frittt.com/free-documentation-html-template-docweb" target="_blank" class="btn btn-download"><img src="img/download.png" width="25" alt="Download Free Documentation Template" /> Download Now</a>
    </div>
</nav>
<header>
  <div class="header-text">
    <h2>Pinkagain</h2>
  </div>
</header>
<section>
  <div class="container">
    {{ partial "nav.html" .}}
    <div class="docs-content">
		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			<h2>{{ $name | title }}</h2>
			{{ range $taxonomy.Pages }}
				<h3 id="{{ .LinkTitle | urlize }}">{{ .Title }}</h3>
				{{ .Content }}
				<hr>
			{{ end }}
		{{ end }}
    </div>
  </div>
</section>
{{ partial "footer.html" }}
</div>
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="{{ .Site.BaseURL }}js/layout.js"></script>
</body>
</html>
